body{
 background-color: rgb(230, 230, 230);
 color: black;
 font-family: 'Montserrat', sans-serif;
}


h1, h2, h3, h4{
 font-size: 20px;
}

h1{
    margin : 40px auto;
 color : black ;
 font-weight : bold ;
}


h2{
 color : black; 
 font-weight: bold ;
}

p {
    text-decoration: none;
    color: #FF8787;
}

h3{
 color : black ;
 font-weight : bold ;
}

a{ 
    text-decoration: none;
}


a:hover {
    color : #FF4F4F ;
}

.wrapper {
    max-width: 700px;
    margin:  0 auto;
}


.container {
  widht : 700px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
 }

 .container > div {
    margin: 15px;
 }


.card-banner{
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0,1);
  border-radius: 4px;
  text-align: center;
}


.card-white{
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0,1);
  border:  1px solid #CCCCCC;
  border-radius: 4px;
  text-align: center;
  width: 120px;
}


.img-circle {
    border-radius: 50%;
}

.btn-blue {
  background-color: white;
  color: #FF8787 ;
}


